* {
  font-family: 'Roboto', sans-serif;
}

canvas {
  position: absolute;
  margin-top: auto;
  margin-left: auto;
  top: 6px;
  left: 21px;
}

.innerTaskText {
  padding: 10px;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

.outerTaskBox {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerTaskBox {

}

.modal {
  text-align: center;
  padding: 0!important;
  width: 93%;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.addTask {
  margin: 5px;
  width: 2.2em;
}
