* {
  font-family: 'Roboto'; sans-serif;
}

.innerTaskText {
  margin-left: 24px;
}
.circleProgress {
  position: absolute;
  margin-left: auto;
  margin-top: auto;
  left: 48px;
  top: 34px;
}
.outerTaskBox {
  width: 720px;
  display: inline-block;
  padding: 24px;
  margin: 12px auto;
  background-color: #607D8B;
  color: #fff;
}

.circle, .innerTaskText {
  display:inline-block;
}

.modal {
  text-align: center;
  padding: 0!important;
  width: 93%;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.addTask {
  margin: 5px;
  width: 2.2em;
}

/*----- Magnifying Glass Search Bar -------*/

.magnifyingGlass {
  position: relative;
  margin: auto;
  width: 300px;
  left: 110px;
  top: 20px;
}

.magHandle {
  transition: all 0.25s ease;
  background-color: #FA0;
  width: 8px;
  position: absolute;
  transform: rotate(-45deg);
  left: 60px;
  top: 60px;
}

.magHandleClosed {
  height: 20px;
}

.magHandleStretch {
  height: 0px;
}

.magOuterRing {
  transition: all 0.25s ease;
  background-color: #FA0;
  height: 68px;
  border-radius: 40px;
  position: absolute;
  top: 0px;
}

.magOuterClosed {
  width: 68px;
  left: 0px;
}

.magOuterStretch {
  width: 280px;
  left: -100px;
}

.magInnerRing {
  transition: all 0.25s ease;
  background-color: #FFF;
  height: 60px;
  border-radius: 36px;
  position: absolute;
  top: 4px;
}

.magInnerClosed {
  width: 60px;
  left: 4px;
}

.magInnerStretch {
  width: 272px;
  left: -96px;
}

.tasks_container {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.tasks_inner_container {
}

.col-xs-3 {
  margin: 48px;
}

.task_name {
  width: 360px;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}

.task_lcb {
  width: 360px;
}

.add_task_button {
  margin: 0;
  border: none;
  position: absolute;
  top: -120px;
  left: 240px;
  transition: 0.25s all ease;
}

.add_task_button > img {
  margin: 0;
}

.add_task_button:hover {
  background-color: #fff;
  opacity: 0.6;
}
