* {
  font-family: 'Roboto'; sans-serif;
}

.innerTaskText {
  height: 50px;
  width: 50px;
  position: absolute;
  /* font-size: 1.5em; */
  text-align: center;
  /* margin-left: auto; */
  z-index: 1;
  left: 50px;
  top: 36px;
  display: flex;
  align-items: center;
  /* align-content: center; */
}
.circleProgress {
  position: absolute;
  margin-left: auto;
  margin-top: auto;
  left: 48px;
  top: 34px;
}
.outerTaskBox {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  text-align: center;
  padding: 0!important;
  width: 93%;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.addTask {
  margin: 5px;
  width: 2.2em;
}

/*----- Magnifying Glass Search Bar -------*/

.magnifyingGlass {
  position: relative;
  margin: auto;
  width: 300px;
  left: 110px;
  top: 20px;
}

.magHandle {
  transition: all 0.25s ease;
  background-color: #FA0;
  width: 8px;
  position: absolute;
  transform: rotate(-45deg);
  left: 60px;
  top: 60px;
}

.magHandleClosed {
  height: 20px;
}

.magHandleStretch {
  height: 0px;
}

.magOuterRing {
  transition: all 0.25s ease;
  background-color: #FA0;
  height: 68px;
  border-radius: 40px;
  position: absolute;
  top: 0px;
}

.magOuterClosed {
  width: 68px;
  left: 0px;
}

.magOuterStretch {
  width: 280px;
  left: -100px;
}

.magInnerRing {
  transition: all 0.25s ease;
  background-color: #FFF;
  height: 60px;
  border-radius: 36px;
  position: absolute;
  top: 4px;
}

.magInnerClosed {
  width: 60px;
  left: 4px;
}

.magInnerStretch {
  width: 272px;
  left: -96px;
}